 *{
    box-sizing:border-box;
    padding:0;
    margin:0;
 }
 a{
    text-decoration: none;
    color: white;
 }
 
 
 body{
    font-family:"poppins",sans-serif;
}
.header{
    min-height:100vh;
background:url('bgimage.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  color: white;  
}
.container{
    max-width: 1200px;
    margin:auto;
    width:90%;
}
.nav{
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    align-items: center;
}
.nav-items{
    width:40%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}