*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.container{
    
    display: grid;
    grid-template-columns:6fr 12fr;
    height: 100vh;
    width: 100vw;
    grid-gap:5px;
    grid-template-columns: 1fr 2fr;
    padding: 40px;

}
.box{
    border:2px solid red;
}
.user{
    border: 2px solid red;
    height:100px;
    width:100px;
    border-radius: 50%;
    display: block;
    margin:auto;
    background-image: url("user.jpg");
    background-size: cover;
    
}  
h1{
    text-align: center;
    color: red;
}
p{
    text-align: center;
    padding: 10px 10px;
    
}

button{
    background-color: rgb(185, 13, 13);
    max-width: fit-content;
    align-self: center;
    
}
   

    

.box1{
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    flex-direction: column;

    
}
.box6{
    grid-column:1/3;
}
.space{
    border: 2px solid black;
    background-image: url("space.jpg");
    height: 10vh;
    width: 10vw;
    pad: 10px 10px;
    
    
    background-size: cover;
}

    

.box2{
    display: flex;
    padding: 30px 10px;
    justify-content:center;
}
.pushpa{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background-image: url("pushpa.jpg");
    background-size: cover;
    
}
.fav{
    border:2px solid red;
    justify-content: center;

}