*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'sans-serif';
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    background-color: cornflowerblue; 
    border:2px solid whitesmoke;
    margin:10px;
}
.box{
    height: 100%;
    width: 100%;
    background-color: rgb(141, 148, 163);
    border:2px solid whitesmoke;
align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    justify-content: space-around;
}
.div1{
    height: 200px;
    width: 200px;
    background-color:red;
padding:50px;
justify-content: center;
align-items: center;
opacity: 10%;
} 
.div2{
    height: 200px;
    width: 200px;
    background-color:green;
}
.div3{
    height: 200px;
    width: 200px;
    background-color:blue; 
}
.div4{
    height: 200px;
    width: 200px;
    background-color:yellow; 
}