html,body{
    height: 100%;
    width: 100%;
}


/* #bulb{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 4px solid red;
    
}

button{
    padding:10px 20px;
    font-size: 20px;
    margin: 80px;
} */

h1{
    font-size: 50px;
    font-weight :200px;
}