*{
   margin:0;
   padding: 0;
   box-sizing: border-box; 
}

html,body{
    width:100%;
    height: 100%;
}
.subash{
    width: 100%;
    height:100%;
    background-color:antiquewhite;
    background-image: url(bgimage.jpg);
    background-size: cover;
    background-position: bottom;
}

#car1{
    position: absolute;
    bottom:10% ;
    height: 120px;
    width: 100px;
    background-color: red;
}
#car2{
   
    height: 90px;
    width: 110px;
    background-color:blue;
}
#car3{
    height: 130px;
    width: 110px;
    background-color: green;
}