*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
   
}
#card{
    border-radius: 20px;
    height: 350px;
    width: 300px;
    background-color:#fff;
    padding:30px;
    text-align:center;
}
body{
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;
    display: flex;
}
#card>img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
   border-radius: 10px;
}
#card h1{
    font-size: 30px;
    margin: 10px 0px;
    font-weight: 400;
    
}
h5{
    color: red;
    font-size: 25px;
    margin:20px 0px;
    margin-bottom: 10px;
    font-weight: 600;
}
#card button{
    background-color: cadetblue;
    color:#fff;
    font-weight: 700;
    padding: 12px 10px ;
    border-radius: 10px;
    border:none;
    margin: 5px;
    cursor:pointer;
}
#btn #remove{
    color:black;
    background-color: #daddad;
}